/* style.css */

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh; 
    font-family: Arial, sans-serif;
    margin: 0px;
}

/* Header section */

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;

}

.top-header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-left: 48px;
    margin-right: 48px;
   
}
.logo {
    flex-shrink: 0;
    width: 60px;
    height: auto;
    background-color: white;
    border-radius: 12px;
}
img {
    height: 100%;
    width: 100%;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 48px;
    
}
.text-content {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}
.main-text {
    font-size: 48px;
    font-weight: 900;
}
.text {
    padding-bottom: 8px;
    padding-top: 8px;
    font-size: 18px;
    color: #e5e7eb;
}

.links {
    display: flex;
    gap: 10px;
    font-size: 18px; 
}
.image-holder {
    width: 350px;
    height: 200px;
    background-color: darkslategrey;
}

ul {
    display: flex;
    list-style: none;
}
a {
    text-decoration: none;
    color: #e5e7eb;
   
  }
  .signup {
    font-size: 18px;
    border: none;
    border-radius: 8px;
    color: #e5e7eb;
    background: #3882f6;
    padding: 4px;
    width: 100px;
  } 

  /* information section */
 .container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;

 }

 .info {
    font-size: 36px;
    color: #1F2937;
    font-weight: 800px;
    padding: 20px;
 }
 .items {
    display: flex;
    justify-content: center;
    gap: 20px;
    
 }
 .sub {
    width: 150px;   
 }
 .sub-text {
    color: #1F2937;
 }
 .info-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    border: solid #3882f6;
    border-radius: 8px;
    margin-bottom: 20px;

 }


 /* Quote section */

 .container2 {
    display: flex;
    justify-content: center;
    padding: 48px 20px 48px 20px;
    background-color: #e5e7eb;


 }

.quote {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 750px;
    margin-top: 32px;
    margin-bottom: 32px;
}
.quote-text {
    font-size: 24px;
    font-style: italic;
    color: #1F2937;
}
.thor {
    font-weight: 800;
    font-size: 24px;
}

/* Third container */
.container3 {
    display: flex;
    justify-content: center;
    padding-top: 48px;
    padding-bottom: 48px;
}

.content3 {
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;
    color: #f9faf8;
    padding: 2.5em 5em 2.5em 5em;
    width: 700px;
    border-radius: 10px;
    margin-top: 32px;
    margin-bottom: 32px;
}
.htitle {
    font-size: 18px;
    font-weight: 800;
    padding-bottom: 4px;
}
.sign {
    font-size: 18px;
    border: solid white;
    color: white;
    border-radius: 8px;
    background: #3882f6;
    padding: 4px;
    width: 100px;
  } 

  .footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #f9faf8;
    padding: 20px;
  }